*{
    margin: 0;
    padding: 10px 20px;
    
}
.item{
    display: grid;
  gap: 50px;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;    
  padding: 10px;

}

.content {
    background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
    


img{
    width: 300px;
    height: 200px;
}
.close{
    background: rgb(254, 70, 70);
    color: #fff;
    border: none;
    padding: 5px 10px;

}

.open{
    background: rgb(115, 207, 111);
    color: #fff;
    border: none;
    padding: 5px 10px;
}

.vote{
    background: rgb(108, 184, 251);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

.report{
    background: rgb(115, 207, 111);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

img{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}